<a href="https://colab.research.google.com/github/duyqu-chan/THY-Travel-Datathon/blob/development/TravelDatathon_preselection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#THY Travel Datathon Preselection Case Study

by Duygu Can, Meriç Pakkan, Şule Kütükde, Neslihan Oflaz

Mount drive to load the data:

In [1]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

Upload the data by reading provided .csv files.

In [2]:
import pandas as pd
train_df = pd.read_csv("/content/drive/My Drive/Travel Datathon/Assessment Data/Assessment Train Data.csv")
result_df = pd.read_csv("/content/drive/My Drive/Travel Datathon/Assessment Data/Assessment Result File.csv")
train_df.head()

   Departure_YMD_LMT  Operation_YMD_LMT  ... SWC_Has_Infant Operation_Count
0           20190326           20190326  ...              0               1
1           20180321           20180321  ...              0               1
2           20190322           20190322  ...              0               1
3           20180515           20180515  ...              0               2
4           20190420           20190420  ...              0               1

[5 rows x 23 columns]

In [4]:
result_df.head()

   Departure_YMD_LMT  Operation_YMD_LMT  ... SWC_Has_Infant Operation_Count
0           20190608           20190607  ...              0
1           20190609           20190609  ...              0
2           20190612           20190612  ...              0
3           20190613           20190612  ...              0
4           20190602           20190601  ...              0

[5 rows x 23 columns]